*{
    box-sizing: border-box;
}

.grayed{
    color: gray;
    cursor: not-allowed;
    text-decoration: line-through;
}

#item{
    width: 100%;
    max-width: 500px;
    position: relative;
    margin: 0 auto;
    height: 60px;
    padding: 20px 25px;
}

#trash{
    display: inline;
    position: absolute;
    right: 25px;
    margin: 0;
    line-height: 20px;
    cursor: pointer;
    font-size: 30px;
    color: gray;
    transition: ease .5s;
}

#trash:hover{
    color: red;
}

#item h3{
    text-align: left;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 80px;
    width: 40vw;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

#check{
    display: inline-block;
    position: absolute;
    left: 25px;
}

#edit{
    display: inline-block;
    position: absolute;
    right: 50px;
    top: 19px;
    color: gray;
    cursor: pointer;
    transition: ease .5s;
}

#edit:hover{
    color: rgb(107, 107, 255);
}

#editInput{
    text-align: left;
    display: inline-block;
    position: absolute;
    top: 19px;
    left: 80px;
    width: 40vw;
    max-width: 300px;
}